
@font-face {
	font-family: 'JapanFont';
	src: url('Sources/Fonts/Noto_Sans_JP/NotoSansJP-Black.otf');
}

@font-face {
	font-family: 'Comforter';
	src: url('Sources/Fonts/Comforter/Comforter-Regular.ttf');
}

@font-face {
	font-family: 'Cardo';
	src: url('Sources/Fonts/Cardo/Cardo-Regular.ttf');
}

@font-face {
	font-family: 'Lora';
	src: url('Sources/Fonts/Lora/static/Lora-Bold.ttf');
}

@font-face {
	font-family: 'Open_Sans_Condensed';
	src: url('Sources/Fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf');
}

@font-face {
	font-family: 'Stick';
	src: url('Sources/Fonts/Stick/Stick-Regular.ttf');
}


:root
{
	--headerHeight:75px;

	--darkBlue: rgba(9,48,70,1);
	--mediumBlue: rgba(10,83,123,1);

	--darkGreen: rgb(7, 34, 9);
	--mediumGreen: rgb(15, 99, 22);
	--lightGreen: rgb(10, 153, 22);
	--plusLightGreen: rgb(2, 230, 21);
	
	--darkRed: rgb(66, 14, 14);
	--mediumRed: rgb(104, 14, 14);
	--lightRed: rgb(153, 10, 10);
	--plusLightRed: rgb(230, 2, 2);

	--gold: rgb(216, 204, 30, 1);
	--darkGold: rgb(143, 136, 39);

	--lightBlack: rgb(59, 59, 59);
	--mediumBlack: rgb(27, 27, 27);
	--darkBlack: rgb(0, 0, 0);
	
	/* --darkGreen: rgb(14, 66, 31);
	--mediumGreen: rgb(20, 105, 48); */
	
	--headerBgColor: rgb(0, 0, 0, 0.9);
	--playerBgColor: rgb(30, 30, 30, 0.95);
	--userBgColor: radial-gradient(circle, var(--mediumGreen) 0%, var(--darkGreen) 100%);
	--errorMessageBgColor: radial-gradient(circle, var(--darkRed) 0%, var(--mediumBlack) 100%);
	--normalMessageBgColor: radial-gradient(circle, var(--lightBlack) 0%, var(--mediumBlack) 100%);
	--endMessageBgColor: radial-gradient(circle, var(--darkGold) 0%, var(--mediumBlack) 100%);
	--userBigBtnColor: linear-gradient(180deg, var(--mediumRed) 0%, var(--darkRed) 100%);
	--userBigBtnColor_Click: linear-gradient(0deg, var(--mediumRed) 0%, var(--darkRed) 100%);
	--userShowBtnColor: linear-gradient(180deg, var(--lightWhite) 0%, var(--darkWhite) 100%);
	--userShowBtnColor_Click: linear-gradient(0deg, var(--lightWhite) 0%, var(--darkWhite) 100%);
	--userSmallBtnColor: radial-gradient(circle, var(--mediumRed) 0%, var(--darkRed) 100%);
	--userSmallBtnColor_Click: radial-gradient(circle, var(--mediumRed) 0%, var(--darkRed) 100%);
	/* --userBgColor: rgba(9, 48, 70, 0.95); */
	
	--userPanelWidth : 400px;
	--bgColor:linear-gradient(180deg, var(--mediumBlue) 0%, var(--lightBlue) 55%);
	--playerDarkColor :rgb(187, 98, 15);
	--playerLightColor :rgb(255, 169, 88);
	--playerMediumColor : rgb(238, 136, 40);
	--playerPanelBgColor : linear-gradient(90deg, var(--playerDarkColor) 0%, var(--playerDarkColor) 50%, var(--playerMediumColor) 100%);
	--lightPurple : rgb(255, 122, 248);
	--mediumPurple : rgb(243, 54, 234);
	--darkPurple : rgb(184, 0, 174);
	--lightWhite : rgb(255, 255, 255);
	--mediumWhite : rgb(241, 241, 241);
	--darkWhite : rgb(200, 200, 200);
	--firstFont : 'Stick', Arial, Helvetica, sans-serif;
	--secondFont : 'Open_Sans_Condensed', Arial, Helvetica, sans-serif;

	--playerPanelHeight : 220px;

	--playerBidDiceDimension : 60px;

	--panelPositionTop: translate(0%,-100%);
	--panelPositionBottom: translate(0%,100%);
	--panelPositionRight: translate(100%,0%);
	--panelPositionLeft: translate(-100%,0%);
	--panelPositionCenter: translate(0%,0%);
}

.enableTextSelection {
	-webkit-user-select: auto;  
	-moz-user-select: auto;    
	-ms-user-select: auto;      
	user-select: auto;
}

body
{
	min-height: 100vh;
	height: fit-content;
	background-image: url('Sources/Images/BgImage3.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-y: 0%;
	background-attachment: fixed;
	display: flex;
	flex-direction: column;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1
{
	font-family: var(--firstFont);
	text-transform: uppercase;
	letter-spacing: 4px;
	color: white;
	text-shadow: 2px 2px 1px var(--darkWhite);
	text-align: center;
}

/* Header */
header
{
	height: var(--headerHeight);
	display: flex;
	background: var(--headerBgColor);
}

#websiteLogo
{
	height: 100%;
	width: var(--headerHeight);
}

#navigation
{
	margin: auto;
	width: 80%;
	height: 100%;
	display: flex;
	justify-content: center;
	z-index: 40;
}

#navigationMenus
{
	color: white;
	list-style: none;
	display: flex;
	height: 100%;
	width: 100%;
	align-items: center;
	justify-content: space-around;
	font-size: 1.5em;
	font-family: var(--secondFont);
	letter-spacing: 1px;
	position: relative;
}

#menuLink
{
	cursor: pointer;
	box-sizing: border-box;
	transition: 0.2s;
}

#menuLink:hover
{
	border-bottom: 2px solid white;
	transform: translateY(10px);
	transition: 0.2s;
}

#navigationMenus .sliderWrapper
{
	overflow: hidden;
	position: absolute;
	top: var(--headerHeight);
	transform: translate(-20%,0%);
}

#navigationMenus .slider
{
	max-height: 75vh;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: justify;
	background: var(--headerBgColor);
	padding: 10px 20px;
	font-size: 0.9em;
	border-radius: 0 0 10px 10px;
	transform: translate(0%,-100%);
	animation-name: none;
	animation-duration: 0s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
}

#navigationMenus .slider::-webkit-scrollbar {
	width: 8px;               /* width of the entire scrollbar */
  }
  
  #navigationMenus .slider::-webkit-scrollbar-track {
	background: none;        /* color of the tracking area */
  }
  
  #navigationMenus .slider::-webkit-scrollbar-thumb {
	border-radius: 20px;       /* roundness of the scroll thumb */
	border: 3px solid var(--darkWhite);  /* creates padding around scroll thumb */
  }
  

@keyframes slideInFromTop {
	0% {
		transform: var(--panelPositionTop);
	}
	100% {
		transform: var(--panelPositionCenter);
	}
}

@keyframes slideOutToTop {
	0% {
		transform: var(--panelPositionCenter);
	}
	100% {
		transform: var(--panelPositionTop);
	}
}

@keyframes slideInFromRight {
	0% {
		transform: var(--panelPositionRight);
	}
	100% {
		transform: var(--panelPositionCenter);
	}
}

@keyframes slideOutToLeft {
	0% {
		transform: var(--panelPositionCenter);
	}
	100% {
		transform: var(--panelPositionLeft);
	}
}

@keyframes slideInFromLeft {
	0% {
		transform: var(--panelPositionLeft);
	}
	100% {
		transform: var(--panelPositionCenter);
	}
}

@keyframes slideOutToRight {
	0% {
		transform: var(--panelPositionCenter);
	}
	100% {
		transform: var(--panelPositionRight);
	}
}



#navigationMenuControls li
{
	list-style: none;
	display: flex;
	align-items: center;
}

#navigationMenuControls img
{
	height: 30px;
	margin: 2px 10px 2px 0;
}

.gameSubMenu
{
	display: none;
	flex-direction: column;
	transform: var(--panelPositionRight);
	gap: 10px;
}

#newGamePanel p
{
	cursor: pointer;
}


#playerNumber
{
	width: 2em;
	border: 2px solid var(--lightWhite);
	border-radius: 1em;
	transition: 0.2s;
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#playerNumber:hover
{
	width: 3em;
}

.prevBtn, .nextBtn
{
	opacity: 0;
	transition: 0.2s;
	height: 100%;
	cursor: pointer;
}

.prevBtn
{
	transform: scaleX(-1);
}

#playerNumber:hover .prevBtn
{
	opacity: 1;
	transform: translateX(-0.4em) scaleX(-1);
}

#playerNumber:hover .nextBtn
{
	opacity: 1;
	transform: translateX(0.4em);
}

.menuOkBtn
{
	width: fit-content;
	padding: 0 0.4em;
	align-self: end;
	border: 2px solid var(--lightWhite);
	background: transparent;
	color: var(--lightWhite);
	border-radius: 0.3em;
	transition: 0.2s;
	cursor: pointer;
}

.menuOkBtn:hover
{
	background-color: var(--lightWhite);
	color: var(--mediumBlack);
	font-weight: bold;
	transition: 0.2s;
}

#musicPlayer
{
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	height: 1.3em;
	margin: 10px 0;
}

#musicPlayer img
{
	cursor: pointer;
}

#musicPlayer img:hover
{
	filter: drop-shadow(0px 0px 3px var(--lightWhite));
}



/* Main section */
#main
{
	display: grid;
	grid-template-columns: minmax(600px,1fr) var(--userPanelWidth);
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 5%
}

#sectionPanel
{
	height: 100%;
	padding-right: 5%;
}



/* Player Panel */
.playerPanel
{
	margin: 40px auto 0 auto;
	height: var(--playerPanelHeight);
	background-color: rgb(30, 30, 30, 0.95);
	display: grid;
	grid-template-columns: 1fr 1.5fr 1fr;
	grid-template-rows: 1fr 1.5fr;
	border-radius: 50px;
	border: 2px solid var(--lightWhite);
	box-shadow: 0 0 8px var(--mediumWhite);
}

.playerPanel:hover,
.playerPanel:hover .playerImage img
{
	border: 2px solid var(--plusLightGreen);
	transition: 0.5s;
	filter: drop-shadow(0px 0px 6px var(--lightGreen));
}

.playerImage
{
	grid-row: span 2;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.playerImage img
{
	width: 80%;
	height: auto;
	border-radius: 50%;
	margin: 0 auto;
	border: 2px solid var(--lightWhite);
	box-shadow: 0 0 5px var(--mediumWhite);
}


.playerName
{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding-top: 20px;
}

.playerDices
{
	display: flex;
	list-style: none;
	gap: 3%;
	grid-row: 2;
	grid-column: 2;
	align-items: center;
	margin: 0 5% 20px 5%;
}

.playerDices li
{
	flex-basis: 0px;
	flex-grow: 1;
	display: flex;
}

.playerDices li img
{
	width: 100%;
}

.lastBidTitle
{
	font-size: 1.2em;
	/* text-shadow: 1px 1px 2px var(--mediumWhite); */
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	margin: 0;
	color: white;
	font-family: var(--firstFont);
	text-transform: uppercase;
	padding-top: 20px;
}


.playerBid
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	gap: 5%;
}

.playerBidCount
{
	width: var(--playerBidDiceDimension);
	height: var(--playerBidDiceDimension);
	color: white;
	font-family: var(--secondFont);
	font-size: 2em;
	font-weight: bold;
	border: 3px solid white;
	border-radius: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.playerBidDice
{
	display: flex;
	width: var(--playerBidDiceDimension);
	height: var(--playerBidDiceDimension);
}

.playerBidDice img
{
	width: 100%;
}



/* Message Panel */

#userPanel, #messagePanel
{
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	border: 2px solid black;
	position: fixed;
}

#messagePanel
{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	z-index: 20;
	background: var(--normalMessageBgColor);
	position: absolute;
	padding: 0 30px;
	animation-name: none;
	animation-duration: 0s;
	animation-timing-function: ease-out;
	animation-iteration-count: 1;
	transform: var(--panelPositionLeft);
	border: initial;
}

#messagePanelTitle
{
	display: flex;
	justify-content: center;
	align-items: center;
}

#message
{
	color: white;
	font-family: var(--secondFont);
	font-size: 1.5em;
	text-align: justify;
}


#messagePanel .okBtn
{
	width: 25%;
	height: 50px;
	border-radius: 10px;
	background: var(--userBigBtnColor);
	color: white;
	font-family: var(--secondFont);
	font-size: 1.5em;
	letter-spacing: 0.1em;
	border-color: var(--gold);
	position: absolute;
	bottom: 30px;
	right: 30px;
	cursor: pointer;
}

#messagePanel .okBtn:active
{
	background: var(--userBigBtnColor_Click);
}


/* User Panel */
#userPanelWrapper
{
	position: relative;
}

#userPanel
{
	z-index: 10;
	width: var(--userPanelWidth);
	height: 80vh;
	min-height: 500px;
	max-height: 550px;
	justify-content: space-evenly;
	background: var(--userBgColor);
	box-shadow: 0 0 10px black;
	margin-top: 40px;
	overflow: hidden;
}

#userPanelTitle
{
	display: flex;
	justify-content: center;
	font-size: 2.2em;
	position: relative;
	top: -30px;
}

#userDices
{
	display: flex;
	list-style: none;
	margin: 0 25px 0 25px;
	gap: 14px;
	position: relative;
	top: -30px;
}

#userDices li
{
	flex-basis: 0px;
	flex-grow: 1;
	display: flex;
}

#userDices li img
{
	width: 100%;
}

.dice
{
	border-radius: 15%;
	border: 1px solid black;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
}


#showBtn
{
	position: absolute;
	bottom: -35px;
	right: 0px;
	height: 25px;
	width: 75px;
	font-family: var(--secondFont);
	font-size: 1.1em;
	border-radius: 10px;
	background: transparent;
	border-color: white;
	color: white;
	cursor: pointer;
	transition: 0.5s;
}

#showBtn:hover
{
	background: var(--userShowBtnColor);
	color: var(--darkGreen);
	font-weight: bold;
	transition: 0.5s;
}

#showBtn:active
{
	background: var(--userShowBtnColor_Click);
}



#palificoSign
{
	display: none;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top : 0px;
	left: 30px;
}

.letter
{
	color: var(--darkGold);
	font-family: var(--firstFont);
	font-size: 1.5em;
	animation: neon 1.2s linear infinite;
}
@keyframes neon
{
	0% {
		color: var(--gold);
		text-shadow: 0 0 8px var(--gold);
	}
	90% {
		color: var(--darkGold);
	}
	100% {
		color: var(--gold);
	}
}

.letter:nth-child(1)
{
	animation-delay: 0.1s;
}
.letter:nth-child(2)
{
	animation-delay: 0.2s;
}
.letter:nth-child(3)
{
	animation-delay: 0.3s;
}
.letter:nth-child(4)
{
	animation-delay: 0.4s;
}
.letter:nth-child(5)
{
	animation-delay: 0.5s;
}
.letter:nth-child(6)
{
	animation-delay: 0.6s;
}
.letter:nth-child(7)
{
	animation-delay: 0.7s;
}
.letter:nth-child(8)
{
	animation-delay: 0.8s;
}


#userBid
{
	display: flex;
	justify-content: center;
	gap: 10px;
	position: relative;
}

#userBidCount
{
	position: relative;
}

#userBidCount p
{
	border: 3px solid white;
	width: 3.9rem;
	height: 3.9rem;
	border-radius: 0.8rem;
	font-family: var(--secondFont);
	font-size: 2em;
	color: white;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 3px 3px 3px rgb(0, 0, 0, 1);
}

#userBidDice
{
	width: 16%;
	display: flex;
	position: relative;
}

#userBidDice img
{
	width: 100%;
}

#minusBidCount, #plusBidCount, #minusBidDice, #plusBidDice
{
	position: absolute;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	border: 1px solid var(--gold);
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--userSmallBtnColor);
	color: white;
	font-family: var(--secondFont);
	font-size: 1.5rem;
	cursor: pointer;
}

#minusBidCount img, #plusBidCount img, #minusBidDice img, #plusBidDice img
{
	width: 60%;
}

#minusBidCount
{
	bottom: 2px;
	left: -32px;
	transform: rotate(90deg);
}

#plusBidCount
{
	top: 2px;
	left: -32px;
	transform: rotate(-90deg);
}

#minusBidDice
{
	bottom: -32px;
	left: 2px;
	transform: rotate(180deg);
}

#plusBidDice
{
	bottom: -32px;
	right: 2px;
	transform: rotate(0deg);
}

#bidBtn
{
	width: 55%;
	height: 50px;
	border-radius: 10px;
	margin: 0 auto 0 auto;
	background: var(--userBigBtnColor);
	color: white;
	font-family: var(--secondFont);
	font-size: 1.5em;
	letter-spacing: 0.1em;
	border-color: var(--gold);
	position: relative;
	top: 15px;
	cursor: pointer;
}

#dudoBtn
{
	width: 55%;
	height: 50px;
	border-radius: 10px;
	margin: 0 auto 0px auto;
	background: var(--userBigBtnColor);
	color: white;
	font-family: var(--secondFont);
	font-size: 1.5em;
	letter-spacing: 0.1em;
	border-color: var(--gold);
	position: relative;
	top: -10px;
	cursor: pointer;
}

#bidBtn:active,
#dudoBtn:active
{
	background: var(--userBigBtnColor_Click);
}

#minusBidCount:active,
#plusBidCount:active,
#minusBidDice:active,
#plusBidDice:active
{
	background: var(--userSmallBtnColor_Click);
}



footer
{
	height: var(--headerHeight);
	display: flex;
	justify-content: end;
	background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 25%, rgba(0,0,0,1) 100%);
	margin-top: auto;
}

footer p
{
	color: white;
	display: flex;
	align-items: center;
	font-size: 1.5em;
	font-family: var(--secondFont);
	letter-spacing: 1px;
	margin-right: 20px;
}




@media only screen and (max-width: 1200px)
{
	#main
	{
		grid-template-columns: 1fr;
		flex-direction: column;
		width: 90%;
		max-width: 900px;
		padding: 0;
	}

	#sectionPanel
	{
		padding-right: 0%;
		margin-bottom: calc(20px + 40px + var(--playerPanelHeight));
	}

	#userPanelWrapper
	{
		position: absolute;
		bottom: calc(20px + var(--playerPanelHeight));
	}
	
	#userPanel
	{
		margin: 0px auto 0 auto;
		min-height: var(--playerPanelHeight);
		max-height: var(--playerPanelHeight);
		display: grid;
		grid-template-columns: 1.5fr 1fr 1fr;
		grid-template-rows: 1fr 1.5fr;
		border-radius: 50px;

		width: 90%;
		max-width: 900px;
	}

	
	#userPanelTitle
	{
		grid-row: 1;
		grid-column: 1 / span 3;

		position: unset;
	}

	#userDices
	{
		grid-row: 2;
		grid-column: 1;
		position: unset;
		margin: auto 5% auto 5%;
		gap: 3%;
	}

	#userBid
	{
		grid-row: 2;
		grid-column: 2;
		margin: auto;
	}

	#bidBtn
	{
		grid-row: 2;
		grid-column: 3;
		position: unset;
	}

	#dudoBtn
	{
		grid-row: 2;
		grid-column: 3;
		top: 50px;
	}



}






